.button {
    width: fit-content;
    min-width: 100px;
    height: 40px;

    border: none;
    border-radius: 5px;

    color: var(--secondary-text-color);
    font-weight: bold;

    background-color: var(--secondary-color);

    cursor: pointer;
}

.button:hover {
    background-color: var(--secondary-color-dark);
}