.page__container{
    display: flex;
}


.login__container {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.login__container div:nth-child(2){
    position: relative;
}

.login__title{
    font-size: 32px;
    font-weight: 600;

    width: fit-content;

    border-bottom: 5px solid var(--primary-color);
}

.login__form{
    width: 30vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    padding: 48px;

    border-radius: 0px 0px 10px 10px;

    border: 2px solid var(--primary-color);
}

@media (max-width: 600px) {
    .left__panel {
        display: none;
    }

    .login__container {
        width: 100%;
    }

    .login__form{
        width: 80vw;
        padding: 20px;
    }

    .login__form input{
        width: auto;
    }
}

.table__container {
    width: 100%;
    max-width: 800px; /* Define uma largura máxima */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra para destaque */
    background-color: #fff;
    border-radius: 8px;
  }
  
  .responsive__table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .responsive__table th, .responsive__table td {
    padding: 8px 16px;
    text-align: left;
  }
  
  .responsive__table th {
    background-color: #f4f4f4;
  }
  
  @media (max-width: 600px) {
    .responsive__table, .responsive__table thead, .responsive__table tbody, .responsive__table th, .responsive__table td, .responsive__table tr {
      display: block;
    }
  
    .responsive__table tr {
      margin-bottom: 15px;
    }
  
    .responsive__table td {
      text-align: right;
      padding-left: 50%;
      position: relative;
    }
  
    .responsive__table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      padding-left: 10px;
      font-weight: bold;
    }
  }