
.titulo-lote {
    margin-left: 16%;
    font-size: 24px;
    border-bottom: 4px solid #008816;
    width: 25%;
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 1%;
}

.div-lote {
    margin: 0 14% 5% 14%;
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    padding: 3% 4% 3% 4%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.file-button{
    background-color: #F79A00;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 300;
    border-radius: 7px;
    margin-top: 2%;
    width: 90%;
    height: 5.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

  


.label-lote {
    font-size: 18px;
    font-weight: 400;
}


.input-doacao-lote {
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 1%;
    border: 1px solid #C1C1C1;
    color: #818080;
}

.div-login p a {
    margin-top: 0;
    text-decoration: none;
    color: #9A9C9A;
    font-weight: 300;
    font-size: 24px;
}

.login-button {
    background-color: #F79A00;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    font-weight: 300;
    border-radius: 7px;
    margin-top: 2%;
    width: 16%;
    height: 5.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}
.container-esq-dir{
    display: flex;
    justify-content: space-between;
}
.lado-direito img{
    width: 100%;
    display: flex;
    position: relative;
}

.caixa-carrinho{
    
    display: flex;
}

.caixa-carrinho img{
    height: 25%;
    width: 25%;
}

.lado-direito p{
    color: black;
    font-size: 25px;
}

.lado-direito h2{
    color: black;
    font-weight: bold;
    font-size: 26px;
}

.image-preview {
    margin-top: 10px;
    max-width: 500px;
    max-height: 300px;
    border-radius: 10%;
}

input[type="file"] {
    display: flex;
    margin-top: 10px;

}



.cartinha{
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 10%;
    border: 1px solid #C1C1C1;
    color: #818080;
    width: 50%;
}


.lado-esquerdo img{
    width: 15%;
    display: flex;
}

.lado-esquerdo p{
    color: green;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5%;
}

.div-login .link{
    margin-left: 0.4vw;
    text-decoration: underline;
    color: #477BFF;
}

#forgot-password{
    margin-right: 23.4vw;
}

.login-button img{
    height: 41px;
}